.notice {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  @apply max-[767px]:top-[60%];
}

@media only screen and (min-width: 1280px) {
  .notice {
    top: 60%;
    transform: translateX(35%);
  }
}
