@media only screen and (min-width: 1280px) {
  .background {
    height: calc(100vh - 80px);
  }

  .height {
    height: calc(100vh - 80px);
  }
}

@media only screen and (max-width: 767px) {
  .height {
    height: calc(100vh - 72px);
  }
}
