@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../fonts/Poppins/Poppins-Regular.ttf);
}

:root {
  /* fonts */

  font-family: "Poppins", sans-serif;
  font-size: 16px;

  /* colors */
  --yellow-color: #ffb627;
  --icon-violet-color: #734aef;
  --background-blue-color: #693bbd;
  --white-color: #fbfbfb;
  --white-40-color: rgba(255, 255, 255, 0.4);
  --white-60-color: rgba(255, 255, 255, 0.6);
  --text-button-color: #623f8b;
  --dashboard-text-color: #ff868d;
  --form-color-color: rgba(255, 255, 255, 0.1);
}

#root {
  min-width: 320px;
  /* max-width: 375px; */
  margin: 0 auto;
  /* overflow: hidden; */
}

@media only screen and (min-width: 768px) {
  #root {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  #root {
    max-width: 1280px;
  }
}

body {
  background-color: var(--background-blue-color);
  color: var(--white-color);
}

.ReactModal__Body--open {
  overflow: hidden;
}
