@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  /* fonts */

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;

  /* colors */
  --yellow-color: #ffb627;
  --icon-violet-color: #734aef;
  --background-blue-color: #693bbd;
  --white-color: #fbfbfb;
  --white-40-color: rgba(255, 255, 255, 0.4);
  --white-60-color: rgba(255, 255, 255, 0.6);
  --text-button-color: #623f8b;
  --dashboard-text-color: #ff868d;
  --form-color-color: rgba(255, 255, 255, 0.1);
}

#root {
  min-width: 320px;
  /* max-width: 375px; */
  margin: 0;
  /* overflow: hidden; */
}

@media only screen and (min-width: 768px) {
  #root {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  #root {
    max-width: 1280px;
  }
}

body {
  /* background-color: var(--background-blue-color); */
  color: var(--white-color);
  background-image: radial-gradient(
      at 87.72581455394035% 73.46293901033157%,
      hsla(0, 0%, 0%, 1) 0%,
      hsla(0, 0%, 0%, 0) 100%
    ),
    radial-gradient(
      at 20.391798834752485% 24.03275749074467%,
      hsla(241.24999999999997, 51.06382978723404%, 36.86274509803922%, 1) 0%,
      hsla(241.24999999999997, 51.06382978723404%, 36.86274509803922%, 0) 100%
    ),
    radial-gradient(
      at 56.29412711961748% 73.40986066637014%,
      hsla(293.40659340659346, 61.904761904761905%, 28.823529411764703%, 1) 0%,
      hsla(293.40659340659346, 61.904761904761905%, 28.823529411764703%, 0) 100%
    ),
    radial-gradient(
      at 56.82296694285489% 15.266558528069286%,
      hsla(249.9337748344371, 79.05759162303661%, 62.549019607843135%, 1) 0%,
      hsla(249.9337748344371, 79.05759162303661%, 62.549019607843135%, 0) 100%
    ),
    radial-gradient(
      at 83.74085529948843% 59.34937586045754%,
      hsla(275.6756756756757, 61.32596685082873%, 35.49019607843137%, 1) 0%,
      hsla(275.6756756756757, 61.32596685082873%, 35.49019607843137%, 0) 100%
    ),
    radial-gradient(
      at 94.70076536742546% 52.730489203226384%,
      hsla(0, 0%, 0%, 1) 0%,
      hsla(0, 0%, 0%, 0) 100%
    ),
    radial-gradient(
      at 57.526834911336366% 61.27598691773966%,
      hsla(241.24999999999997, 51.06382978723404%, 36.86274509803922%, 1) 0%,
      hsla(241.24999999999997, 51.06382978723404%, 36.86274509803922%, 0) 100%
    ),
    radial-gradient(
      at 71.7678223795781% 2.411314615825%,
      hsla(293.40659340659346, 61.904761904761905%, 28.823529411764703%, 1) 0%,
      hsla(293.40659340659346, 61.904761904761905%, 28.823529411764703%, 0) 100%
    ),
    radial-gradient(
      at 41.69554555814725% 48.60831846992666%,
      hsla(249.9337748344371, 79.05759162303661%, 62.549019607843135%, 1) 0%,
      hsla(249.9337748344371, 79.05759162303661%, 62.549019607843135%, 0) 100%
    ),
    radial-gradient(
      at 68.00323115143101% 14.819036801370133%,
      hsla(275.6756756756757, 61.32596685082873%, 35.49019607843137%, 1) 0%,
      hsla(275.6756756756757, 61.32596685082873%, 35.49019607843137%, 0) 100%
    ),
    radial-gradient(
      at 80.62713411853963% 98.9691038245017%,
      hsla(0, 0%, 0%, 1) 0%,
      hsla(0, 0%, 0%, 0) 100%
    ),
    radial-gradient(
      at 26.873241555519954% 64.02797992301437%,
      hsla(241.24999999999997, 51.06382978723404%, 36.86274509803922%, 1) 0%,
      hsla(241.24999999999997, 51.06382978723404%, 36.86274509803922%, 0) 100%
    );
}

.ReactModal__Body--open {
  overflow: hidden;
}
