.wrapper {
  /* @apply w-[320px] h-[568px]; */
  /* background-image: url("/src/img/login/Rectangle\ 4logi_mob.jpg"); */
  /* background-size: cover;
  display: flex;
  flex-direction: column; */
  background-image: url("/src/img/login/Gradient\ 4login_tab.jpg");
}
@media screen {
}

.box_logo {
  @apply flex flex-col items-center pt-[97px] mb-[53px]
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 97px;
  margin-bottom: 53px; */;
}

.box_form {
  @apply flex flex-col gap-4;
  position: relative;
  margin-bottom: 52px;
}

.box_btn {
  /* align-items: center; */
  /* justify-content: center; */
}

.logo_text {
  font-size: 19px;
}

.form_mail {
}
.form_pass {
}
.icon {
  fill: var(--white-40-color);
  position: absolute;
  left: 31px;
}
.input {
  width: 280px;
  background: none;
  border-bottom: 1px solid var(--white-40-color);
  padding-left: 60px;
  padding-bottom: 8px;
  outline: none;
  font-size: 18px;
  margin-left: 20px;
  position: relative;
}

.error {
  color: var(--dashboard-text-color);
  font-size: 10px;
  margin-top: 5px;
}

.btn_log {
  margin-bottom: 20px;
  width: 280px;
  height: 50px;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 18px;
  letter-spacing: 1.8px;

  color: white;

  background: linear-gradient(
    97deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);

  /* transition: background-position 0.8s ease; */
}

.btn_reg {
  width: 280px;
  height: 50px;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 18px;
  letter-spacing: 1.8px;

  background-color: var(--white-color);
  color: var(--text-button-color);

  display: flex;
  align-items: center;
  justify-content: center;
}
