.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 20px;

  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 375px;
    gap: 0;
    padding: 0;
  }
}
.box_form {
  @apply flex flex-col;
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 12px auto 0;
}
.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.input_box {
  position: relative;
}

.icon {
  fill: var(--white-40-color);
  left: 10px;
  position: absolute;
}

.box_form {
  position: relative;
}

@media screen and (min-width: 768px) {
  .input {
    min-width: 409px;
  }
  .strengthBar {
    min-width: 409px;
  }
  .passwordToggle {
    right: 60px;
  }
}
.input {
  width: 100%;
  background: none;
  border-bottom: 1px solid var(--white-40-color);
  padding-left: 50px;
  padding-bottom: 8px;
  outline: none;
  font-size: 18px;
}

.error {
  color: var(--dashboard-text-color);
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
}

.passwordToggle {
  position: absolute;
  top: 5px;
  right: 40px;
}

.loginLogo {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
