.active {
  @apply font-bold;
  display: flex;

  svg {
    fill: #fff;
    background-color: #734aef;
    box-shadow: 0 3px 10px 0 rgba(74, 86, 226, 0.5);
  }
}

.defaultLink {
  @apply flex gap-[20px];
}
