.container {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(rgba(158, 64, 186, 1), rgba(112, 0, 255, 1)),
    url(../../img/login/login_desk@2x.jpg);
}
