.container {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .container {
    background-image: url(../../img/login/tab_log@2.png);
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    background-image: url(../../img/login/desk_log@2x.png);
  }
}
