.headerTable {
  @apply rounded-[8px];

  background-color: rgba(82, 59, 126, 0.6);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);

  .cell {
    @apply font-bold text-[16px];
  }
}

.row {
  @apply py-[16px] px-[20px] flex justify-around;

  padding-right: 6px;

  &.rowBody {
    @apply border-b-[1px] border-[var(--form-color-color)];
  }
}

.cell {
  @apply flex text-[14px] items-center;

  &.incomeType {
    @apply text-[var(--yellow-color)];
  }

  &.expenseType {
    @apply text-[var(--dashboard-text-color)];
  }

  &.cellDate {
    @apply w-[12%];
  }

  &.cellType {
    @apply w-[17%] justify-center;
  }

  &.cellCategory {
    @apply w-[21%];
  }

  &.cellComment {
    @apply w-[18%];
  }

  &.cellSum {
    @apply w-[15%] justify-end;
  }

  &.cellBtn {
    @apply w-[17%] justify-end;
  }

  &.cellCategory {
    text-transform: capitalize;
  }
}

.btnEdit {
  @apply w-[20px] h-[20px] flex justify-center items-center;
}

.btnDelete {
  @apply text-[14px] py-[4px] px-[12px] rounded-[20px];
}
